.avatar {
  width: 100px;
  height: 100px;
  border-radius: 10px
}
.selectedPage {
  color: red;
  font-weight: bold;
}
.loading {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px
}
