.header {
  grid-area: h;
 background-color: seagreen;
}
<<<<<<< HEAD
.header .logoBlock {
  float: left;
}
.header .loginBlock a {
  float: right;
  font-weight: 700;
  color: white;
  text-decoration: none;
}
.header .loginBlock a.active {
  color: gold;
=======
.header  .login {
  
>>>>>>> app-br-remembered
}
